@model ProyectoWebMVC.Models.LavadoViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lavado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lavado.IdLavado" class="control-label"></label>
                <input asp-for="Lavado.IdLavado" class="form-control" />
                <span asp-validation-for="Lavado.IdLavado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Placa del Vehículo</label>
                <select asp-for="Lavado.PlacaVehiculo" asp-items="Model.Vehiculos" class="form-control"></select>
            </div>

            <div class="form-group">
                <label>Cliente</label>
                <select asp-for="Lavado.IdCliente" asp-items="Model.Clientes" class="form-control"></select>
            </div>
            <div class="form-group">
                <label>Empleado</label>
                <select asp-for="Lavado.IdEmpleado" asp-items="Model.Empleados" class="form-control"></select>
            </div>
            <div class="form-group">
                <label>Tipo de Lavado</label>
                @Html.DropDownListFor(model => model.Lavado.Tipo,
                new SelectList(Enum.GetValues(typeof(ProyectoWebMVC.Models.Lavado.TipoLavado))),
                                "Seleccione un tipo",
                                new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Precio</label>
                <input asp-for="Lavado.Precio" class="form-control" />
            </div>
            <div class="form-group">
                <label>Estado</label>
                @Html.DropDownListFor(model => model.Lavado.Estado,
                                new SelectList(Enum.GetValues(typeof(ProyectoWebMVC.Models.Lavado.EstadoLavado))),
                                "Seleccione un estado",
                                new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
