@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bienvenido a Se lo Chaneo a Domicilio</h1>
    <p>Seleccione una opción:</p>

    <ul>
        <li><a asp-controller="Empleados" asp-action="Index">Gestión de Empleados</a></li>
        <li><a asp-controller="Vehiculos" asp-action="Index">Gestión de Vehículos</a></li>
        <li><a asp-controller="Clientes" asp-action="Index">Gestión de Clientes</a></li>
        <li><a asp-controller="Lavados" asp-action="Index">Gestión de Lavados</a></li>
    </ul>
</div>
